
[Desktop Entry]
Encoding=UTF-8
Name=Link to Generics in C#, Java, and C++
Type=Link
URL=http://www.artima.com/intv/genericsP.html
Icon=gnome-fs-bookmark
Name[en_US]=07 - Generics in C#, Java, and C++, a conversation with Anders Hejlsberg - Bill Venners and Bruce Eckel
